.cart-modal {
  padding: 20px;
  background-color: #fff;

  .cart-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .empty-cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      height: 100%; 
      padding: 20px; 
      margin-left: 500px;

      img {
        width: 150px; 
        margin-bottom: 20px; 
      }

      h5 {
        margin: 10px 0; 
      }

      p {
        margin-bottom: 20px; 
        text-align: center; 
      }

      button {
        background-color: #3B3B3B; 
        color: #fff; 
        padding: 8px 20px; 
        cursor: pointer; 
        font-size: 14px;
      }
    }

    .right-section {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .cart-items {
      flex: 2;
      margin-right: 20px;
      overflow: auto;

      .cart-header {
        h5 {
          font-size: 0.8rem;
          font-weight: 500;
        }

        .items-to-cart {
          font-size: 13px;
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;
          color: #3B3B3B;
        }

        .default-address {
          padding: 12px;
          background-color: #e0e0e0;
          border-radius: 5px;
          font-size: 13px;

          div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
              background-color: #e0e0e0;
              border: 1.4px solid #ffffff;
              font-size: 12px;
              padding: 5px;
              border-radius: 5px;
              color: #ffffff;
              font-weight: 500;
              cursor: pointer;
            }
          }

          span {
            font-weight: 600;
          }

          p {
            margin-top: 5px;
          }
        }
      }

      .cart-item {
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 8px;

        .cart-item-checkbox {
          margin-right: 10px;
        }

        .cart-item-image {
          img {
            width: 80px;
            height: auto;
          }
        }

        .cart-item-details {
          flex-grow: 1;
          padding-left: 15px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          .cart-item-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
              font-size: 0.8rem;
              font-weight: 700;
              margin: 0;
            }

            .remove-item {
              background: none;
              border: none;
              font-size: 1rem;
              color: #bababa;
              cursor: pointer;
              padding: 0;
            }
          }

          span {
            font-size: 14px;
          }

          .cart-item-options {
            display: flex;
            gap: 10px;

            .size-dropdown {
              label {
                font-size: 0.875rem;
                margin-right: 5px;
              }

              select {
                padding: 5px 10px;
                font-size: 0.875rem;
                border: 1px solid #ccc;
              }
            }

            .quantity-control {
              display: flex;
              align-items: center;
              gap: 10px;

              button {
                background-color: #eee;
                border: none;
                color: #fff;
                padding: 5px 10px;
                cursor: pointer;
              }

              span {
                font-size: 0.9rem;
                font-weight: 600;
                text-align: center;
              }
            }
          }

          .cart-item-price {
            display: flex;
            padding: 5px 0px;

            .price {
              font-size: 0.9rem;
              font-weight: 600;
              color: #9e9e9e;
              margin-right: 10px;
            }

            .original-price {
              text-decoration: line-through;
              font-size: 0.875rem;
              color: #777;
              margin-right: 10px;
            }

            .discount {
              font-size: 0.875rem;
              color: #059e45a1;
            }
          }

          p {
            font-size: 12px;
          }
        }

        .remove-item {
          background: none;
          border: none;
          font-size: 1rem;
          color: #bababaee;
          cursor: pointer;
        }
      }
    }

    .price-details {
      flex: 1;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      margin-top: 3.7rem;

      hr {
        margin: 25px 0px;
        border: none;
        border-top: 1px solid #e0e0e0;
      }

      .trust-indicators {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;

        .indicator {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            font-size: 12px;
            padding-top: 12px;
          }
          .icon {
            font-size: 30px;
            color: #3B3B3B;
          }
        }
      }

      .total-amount {
        font-weight: 600;
        font-size: 0.8rem;
        margin: 16px 0px;
      }

      .free {
        color: #059e45a1;
      }

      h5 {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        span {
          font-size: 0.875rem;
        }
      }

      .place-order {
        display: block;
        width: 100%;
        background-color: #3B3B3B;
        color: #fff;
        padding: 10px;
        border: none;
        font-size: 0.9rem;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}
