/* Base styles - apply to all screen sizes */
 html, body {
 overflow-x: hidden;
}

.main-container {
  padding: 2px;
  position: relative;
  
.bread-crumbs{
  margin-left: 10rem;
  padding: 15px 10px 15px 30px;
}
.main-container.blur-background {
  opacity: 0.5;
}



.enlarged-image {
  position: relative; /* Position relative to the modal container */
  width: 40%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  transition: transform 0.3s ease;
  cursor: pointer;
  will-change: transform;
  top: var(--scroll-position-y, 0); /* Adjust the top position based on scroll */
}

.secondary-container {
  
  display: flex;
  align-items: center; /* Center align items vertically */
  justify-content: space-between; /* Distribute space between items */
   /* Add padding if needed */
}
.image-container{
  display: flex;
  justify-content: space-between;
  width: 49rem;
  
}

.slider-container {
  display: flex;
  flex-direction: column;
 height: 32rem;
 width: 4rem;
 gap: 10px;

  margin-left: 8%;
  overflow: hidden; /* Hide images that are out of view */
  position: relative;
  z-index: 10;
 
  
}

/* Only hide default Slick arrows within slider container */
.slider-container .slick-prev,
.slider-container .slick-next {
  display: none!important;
}

.stacked-images {
  border: 1px solid #c2c2c2;
  width:5%;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 1.8px;
  display: block;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  overflow: hidden; /* Hide scrollbars */
  transition: opacity 0.3s ease;
}

.image-slider-container {
  width: 80vw; /* Adjust width as needed */
  height: 150vh; /* Adjust height as needed */
}

.enlarged-image {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  will-change: transform;
  transition: transform 0.3s ease;
}

/* Ensure the slider images fit within their container */
.slick-slide img {
  width: 100%;
  height: auto;
}

/* Custom styling for slick dots */
.slick-dots {
  bottom: 900px; /* Adjust the position as needed */
}

.slick-dots li {
  margin: 0 5px; /* Adjust spacing between dots as needed */
}

.slick-dots li button {
  border: 1px solid none; /* Remove default button border */
}

/* Style for all dots */
.slick-dots li button:before {
  font-size: 30px; /* Adjust size as needed */
  color: white; /* Default color for non-active dots */
  border-radius: 50%; /* Make dots circular */
  border: 3px solid rgb(173, 171, 171); 
  opacity: 0.8;/* White border around dots */
  content: ''; /* Remove default content */
  display: block; 
  width: 14px; /* Dot size */
  height: 14px; /* Dot size */
}

/* Style for the active dot */
.slick-dots li.slick-active button:before {
  color: black; /* Color for the active dot */
  border: 2px solid white; 
  background-color: black;/* Black border around active dot */
}




.active{
  opacity: 0.7;
}
.primary-image-container {
  position: relative;
  width: 60%;
  right: 30%;
  height: 47rem;
  overflow: hidden;
  z-index:1;
  .primary-image:hover {
    transform: scale(1.1); /* Grows the image on hover */
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .enlarged-image:hover {
    transform: scale(1.05); /* Slight zoom for the enlarged image */
  } 

  .primary-image {
    position: absolute;
    cursor: zoom-in;
    
    top: 1.3rem;
    left: 7rem;
   
    width:50%;
    height: 85%;
    transition: transform 0.5s ease-in-out , opacity 0.5s ease-in-out; /* Smooth slide effect */
  }

  .slide-in {
    transform: translateX(100%);
    opacity: 0; /* Initial state off-screen to the right */
  }

  .slide-out {
    transform: translateX(100%); 
    opacity: 0;/* Slide out to the left */
  }

  .slide-active {
    transform: translateX(0);
    opacity: 1; /* Bring image to the center */
  }
}

.content {
  
  position: absolute; /* Position it absolutely within the main container */
  /* Adjust as needed to vertically center the heading */
  left: 50%;
  top: 3rem;
  
  gap: 0px;
  opacity: 0px;
  z-index: 1;
  /* Center it vertically relative to the primary image */
}
.product-name{
  color:#3B3B3B
}

.star-inner {
  color: #3b3b3b;
  width: 1.2rem;
  height: 1.6rem;
  
  
  gap: 0px;
  opacity: 0px;
}
.review{
  
  position: absolute;
 bottom: 0rem;
 top: -0.8rem;
 
 color: #636363;
 font-size: 0.9rem;

  left: 6.4rem;
}

.star {
  position: absolute;
  top: 3.4rem;
  line-height: 1.4rem;
  box-sizing: border-box;
}





  .information {
   
    position: relative;
    top: 1.11rem;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: left;
    color: #aeacac;
  }

  .price {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 1.2rem;
  }

  .rupees {
    font-size: 1.5rem;
    color: #525151;
    font-weight: 600;
    margin-top: 2.46rem;
    white-space: nowrap;
  }

  .discount {
    color:#aeacac;
    margin-top: 3.08rem;
    white-space: nowrap;
  }
  .original-price{
    position :relative;
    color: #636363;
  top: 5.5rem;
right: 11.3rem;
font-size: 1rem;
text-decoration: line-through; 
white-space: nowrap; }

  .size-label {
    color: #525151;
    font-weight: 600;
    font-size: 1rem;
  }

.Mrp {
  position: absolute;
 bottom: 20rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.13rem;
  text-align: left;
  color: #9A9A9A;
}
.header{
  padding: 10px 0;
    display: block;
    font-weight: 700;
    min-width: 80px;
    font-size: 16px;
    color: var(--vela-text-color-secondary);
    margin-top: 2.2rem;
  }

  .color {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: 0.1px solid rgb(182, 180, 180);
}

  .color-shade {
    display: flex;
    justify-content: start;
    width: 10rem;
    margin-top: 0.49rem;
  }

  .color.selected {
    padding: 2px; /* Space around the color circle */
    border-radius: 50%; /* Ensure the padding doesn't affect the circle shape */
    background-clip: content-box; /* Keep the background within the content box */
    box-shadow: 0 0 0 1px black; /* Creates the black border with a 2px thickness */
  }

  .size-num {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .num {
    position: relative;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.9rem;
    cursor: pointer;
  }

  .size {
    margin-top: 0rem;
  }

  .size-num {
    margin-top: 0.61rem;
  }

  .num.sizeselected {
    border: 1px solid black;
    color:#0b0b0b;
  }
  .unavailable-size {
    position: relative;
    cursor: not-allowed;
    opacity: 0.4;
  }
  .limited-text {
    position: absolute;
    background-color:#3b3b3b;
    width: 2.7rem;
    left: 1.56rem;
    transform: translateX(-50%);
    font-size: 0.8rem;
    color: white;
    text-align: center;
    top: 2.1rem;
    height: 1rem;
  }

  .crossed-size {
    position: relative;
  }

  .crossed-size::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.48rem;
    width: 200%;
    height: 2px;
    background-color: rgb(145, 145, 145); /* or any color you prefer */
    transform: translateY(-50%) rotate(-45deg);
  }

  .blocks {
    display: flex;
    width: 30rem;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1.2rem;

.add-sub {
  width: 7rem;
  height: 3.5rem;
  gap: 0px;
  opacity: 0px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
  border-radius: 0.5rem;
  border: 1px solid #f5f5f5
}

    .add {
      margin-right: 1.23rem;
      cursor: pointer;
    }

    .sub {
      margin-left: 1.23rem;
      cursor: pointer;
    }

.buy {
  height: 3rem;
    width: 9rem;
    background-color: #3b3b3b;
    color: white;
    font-size: 0.85rem;
    border: none;
   
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart {
  height: 3rem;
  width: 9rem;
  background-color: #3b3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 0.85rem;
 
  font-weight: 500;
  cursor: pointer;

  
}

.shopping-bag{
  position: relative;
  bottom: 0.2rem;
  right: 0.3rem;
}


}

  .info-container {
    display: flex;
    width: 18.5rem;
    flex-direction: column;
    gap: 0.62rem; /* Adds space between each info item */
    margin-top: 2.46rem;
  }

  .info-item {
    display: flex;
    justify-content: space-between; /* Ensures equal spacing between label and value */

    font-size: 0.987rem;
  }

  .info-label {
    flex: 1; /* Ensures labels take up equal space */
    text-align: left;

    font-weight: 700;
    color: #3B3B3B;
    margin-right: 10px;
  }

  .info-value {
    flex: 1; /* Ensures values take up equal space */
    text-align: left;

    color: #666666;
  }
  .preview {
    position: absolute;
    
  
    opacity: 1;
    z-index: 2;
  }
  .preview-image {
    width: 20rem;
  }
  .video-container {
    margin-top: 5rem;
  }
}
.custom-prev-arrow{
  
  display: block; 
  position: relative;
 top:93.5%;

  transform: rotate(270deg);
  z-Index: 20;
  .custom-arrow-prev{
    color: black;
     font-size: 16px; 
  }

}
.custom-next-arrow{

  display: block;
  position: absolute;
  top: -5px;
  right: 35%;
  transform: rotate(270deg);
  z-Index: 2;
.custom-arrow-next
{
  color: black;
   font-size: 16px
}

}

/* Mobile S - 320px to 374px */
@media (min-width: 320px) and (max-width: 374px) {
  .bread-crumbs{
    padding: 3px;
   
    ul{
     font-size: 0.5rem;
   position: relative;
   right: 140%;
   bottom: 2rem;
    }
  }
  .main-container{
    flex-wrap: wrap;
   .product-name{
    font-size: 0.75rem;
   }
   .star{
    line-height: 0.8rem;
   }
   .star-inner{
    width:0.6rem;
    margin-top: -0.5rem;
    
   }
   .review{
    font-size:0.5rem;
      top: -0.6rem;
      left: 4.5rem;
     
   }
   .star{
    top: 1.5rem;
   }
 .information{
  font-size:0.4rem;
  line-height: 0.4rem;

 
 }
 .header{
  font-size: 0.55rem;
  padding: 2px;
  margin-top: 1.5rem;
 }
 .color{
  height: 1rem;
  width: 1rem;
 }
 .color-shade{
  width: 7rem;
 }
 .rupees{
  font-size: 0.9rem;
 }
 .discount{
  margin-right: 5.5rem;
  margin-top: 2.6rem;
  font-size: 0.5rem;

 }
 .blocks{
  width: 10rem;
  flex-direction: column;
 align-items: flex-start;
 margin-top: 0.8rem;
 gap: 3px;
  .add-sub{
   height: 2rem;
   width: 5rem;
   font-size: 0.8rem;
   margin-bottom: 3px;
  }
  .shopping-bag{
    font-size: 0.9rem;
    top: -0.1rem;
  }
  .cart{
    width: 7rem;
    height: 1.8rem;
    font-size: 0.6rem;
    
    
  }
  .buy{
    width:7rem;
    height: 1.8rem;
    font-size: 0.6rem;
    
  }
 }


 
 .Mrp{
  font-size: 0.5rem;
  bottom: 15rem;
 }
 .price{
  bottom:1.8rem
 }
 .size{
  margin-top: -2rem;
 }
.size-label
{
  font-size: 0.65rem;
}
.num{
  height: 1.1rem;
  width: 1.1rem;
  font-size: 0.6rem;
}

.limited-text{
  width: 0.9rem;
  font-size: 0.35rem;
  height: 0.5rem;
  left: 0.55rem;
  top: 0.85rem;
}
.size-num{
  gap: 0px;
}
 .content{
  left: 51%;
  top: 1.5%;
 }
 .info-container{
  width: 10rem;
  margin-top: 1.5rem;
 
 }
 .info-item{
  font-size: 0.55rem;
 }
 .slider-container{
  width: 3.75%;
 
  height: 20rem;
  margin-left: 5%;
 position: absolute;
 top: 3%;
  
 
  
  }
  .stacked-images{
    width: 2%;
    object-fit: contain;
  }
      .primary-image-container{
       width: 220px;
      left: -22%;
      height: 30rem;
      bottom: 1rem;
      
      
       object-fit: contain;
        .primary-image{
         
          width: 50%;
           height: 35%;
           
         
          
        }
       
      }
    }
    .custom-prev-arrow{
    right: 10%;
  
  .custom-arrow-prev{
    font-size: 9px;
  }
    
     
    
  }
  .custom-next-arrow{
  left: 65%;
  top: 8%;
  font-size: 1px;
  .custom-arrow-next{
    font-size: 9px;
  }
     
     
    
  }

  /* CSS rules for screens between 320px and 374px wide */
}



/* Mobile M - 375px to 424px */
@media (min-width: 375px) and (max-width: 424px) {
  /* CSS rules for screens between 375px and 424px wide */
  .bread-crumbs{
    padding: 3px;
   
    ul{
     font-size: 0.5rem;
   position: relative;
   right: 140%;
   bottom: 2rem;
    }
  }
  .main-container{
    flex-wrap: wrap;
   .product-name{
    font-size: 0.8rem;
   }
   .star{
    line-height: 0.8rem;
   }
   .star-inner{
    width:0.6rem;
    margin-top: -0.5rem;
    
   }
   .review{
    font-size:0.5rem;
      top: -0.6rem;
      left: 4.5rem;
     
   }
   .star{
    top: 1.5rem;
   }
 .information{
  font-size:0.4rem;
  line-height: 0.4rem;

 
 }
 .header{
  font-size: 0.55rem;
  padding: 2px;
  margin-top: 1.5rem;
 }
 .color{
  height: 1rem;
  width: 1rem;
 }
 .color-shade{
  width: 7rem;
 }
 .rupees{
  font-size: 0.9rem;
 }
 .discount{
  margin-right: 5.5rem;
  margin-top: 2.6rem;
  font-size: 0.5rem;

 }
 .blocks{
  width: 10rem;
  flex-direction: column;
 align-items: flex-start;
 margin-top: 0.8rem;
 gap: 3px;
  .add-sub{
   height: 2rem;
   width: 5rem;
   font-size: 0.8rem;
   margin-bottom: 3px;
  }
  .shopping-bag{
    font-size: 0.9rem;
    top: -0.1rem;
  }
  .cart{
    width: 7rem;
    height: 1.8rem;
    font-size: 0.6rem;
    
    
  }
  .buy{
    width:7rem;
    height: 1.8rem;
    font-size: 0.6rem;
    
  }
 }


 
 .Mrp{
  font-size: 0.5rem;
  bottom: 15rem;
 }
 .price{
  bottom:1.8rem
 }
 .size{
  margin-top: -2rem;
 }
.size-label
{
  font-size: 0.65rem;
}
.num{
  height: 1.1rem;
  width: 1.1rem;
  font-size: 0.6rem;
}

.limited-text{
  width: 0.9rem;
  font-size: 0.35rem;
  height: 0.5rem;
  left: 0.55rem;
  top: 0.85rem;
}
.size-num{
  gap: 0px;
}
 .content{
  left: 48%;
  top: 2%;
 }
 .info-container{
  width: 10rem;
  margin-top: 1.5rem;
 
 }
 .info-item{
  font-size: 0.55rem;
 }
 .slider-container{
  width: 1rem;
 
  height: 20rem;
  margin-left: 5%;
 position: absolute;
 top: 2.5%;
  
 
  
  }
  .stacked-images{
    width: 2%;
    object-fit: contain;
  }
      .primary-image-container{
       width: 245px;
      left: -18%;
      height: 33rem;
      
   
      
      
       object-fit: contain;
        .primary-image{
         
          width: 50%;
           height: 35%;
           
         
          
        }
       
      }
    }
    .custom-prev-arrow{
    right: 10%;
  
  .custom-arrow-prev{
    font-size: 9px;
  }
    
     
    
  }
  .custom-next-arrow{
  left: 57%;
  top: 8%;
  font-size: 1px;
  .custom-arrow-next{
    font-size: 9px;
  }
     
     
    
  }

  /* CSS rules for screens between 320px and 374px wide */
}


/* Mobile L - 425px to 767px */
@media (min-width: 425px) and (max-width: 767px) {
  .bread-crumbs{
    padding: 3px;
   
    ul{
     font-size: 0.5rem;
   position: relative;
   right: 140%;
   bottom: 2rem;
    }
  }
  .main-container{
    flex-wrap: wrap;
   .product-name{
    font-size: 1rem;
   }
   .star{
    line-height: 0.9rem;
   }
   .star-inner{
    width:0.8rem;
    margin-top: -0.1rem;
    
   }
   .review{
    font-size:0.6rem;
      top: -0.35rem;
      left: 4.5rem;
     
   }
   .star{
    top: 1.5rem;
   }
 .information{
  font-size:0.5rem;
  line-height: 0.6rem;
  top: 0.5rem;

 
 }
 .header{
  font-size: 0.75rem;
  padding: 0px;
margin-top: 0.8rem;
 }
 .color{
  height: 1.2rem;
  width: 1.2rem;
 }
 .color-shade{
  width: 8rem;
 }
 .rupees{
  font-size: 1rem;
  margin-top: 2.1rem;
 }
 .discount{
  margin-right: 5rem;
  margin-top: 2.4rem;
  font-size: 0.6rem;

 }
 .blocks{
  width: 12rem;
  flex-direction: column;
 align-items: flex-start;
 margin-top: 0.8rem;
 gap: 4px;
  .add-sub{
   height: 2rem;
   width: 5rem;
   font-size: 0.8rem;
   margin-bottom: 3px;
  }
  .shopping-bag{
    font-size: 0.9rem;
    top: -0.1rem;
  }
  .cart{
    width: 7rem;
    height: 1.8rem;
    font-size: 0.6rem;
    
    
  }
  .buy{
    width:7rem;
    height: 1.8rem;
    font-size: 0.6rem;
    
  }
 }


 
 .Mrp{
  font-size: 0.55rem;
  bottom: 15.6rem;
 }
 .price{
  bottom:1.8rem
 }
 .size{
  margin-top: -2rem;
 }
.size-label
{
  font-size: 0.7rem;
}
.num{
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.6rem;
}

.limited-text{
  width: 1.4rem;
  font-size: 0.45rem;
  height: 0.7rem;
  left: 0.72rem;
  top: 1.1rem;
}
.size-num{
  gap: 0px;
}
 .content{
  left: 51%;
  top: 2%;
 }
 .info-container{
  width: 10rem;
  margin-top: 1.5rem;
 
 }
 .info-item{
  font-size: 0.6rem;
 }
 .slider-container{
  width: 1.4rem;
 
  height: 20rem;
  margin-left: 5%;
 position: absolute;
 top: 3.8%;
  
 
  
  }
  .stacked-images{
    width: 2%;
    object-fit: contain;
  }
      .primary-image-container{
       width: 300px;
      left: -14%;
      height: 30rem;
      
   
      
      
       object-fit: contain;
        .primary-image{
         
          width: 50%;
           height: 55%;
           
         
          
        }
       
      }
    }
    .custom-prev-arrow{
    right: 2%;
  
  .custom-arrow-prev{
    font-size: 11px;
  }
    
     
    
  }
  .custom-next-arrow{
  left: 4%;
  top: 3%;
  font-size: 1px;
  .custom-arrow-next{
    font-size: 11px;
  }
     
     
    
  }

  /* CSS rules for screens between 425px and 767px wide */
}

/* Tablet - 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules for screens between 768px and 1023px wide */
  .bread-crumbs{
    padding: 3px;
   
    ul{
     font-size: 0.5rem;
   position: relative;
   right: 140%;
   bottom: 2rem;
    }
  }
  .main-container{
    flex-wrap: wrap;
   .product-name{
    font-size: 1.3rem;
   }
   .star{
    line-height: 1rem;
   }
   .star-inner{
    width:1rem;
    margin-top: 0.6rem;
    
   }
   .review{
    font-size:0.8rem;
      top: 0.1rem;
      left: 6rem;
     
   }
   .star{
    top: 1.5rem;
   }
 .information{
  font-size:0.7rem;
  line-height: 0.8rem;
  top: 0.4rem;

 
 }
 .header{
  font-size: 0.9rem;
  padding: 0px;
margin-top: 0.8rem;
 }
 .color{
  height: 1.4rem;
  width: 1.4rem;
 }
 .color-shade{
  width: 10rem;
 }
 .rupees{
  font-size: 1.2rem;
  margin-top: 2.2rem;
 }
 .discount{
  margin-right: 4.5rem;
  margin-top: 2.5rem;
  font-size: 0.7rem;

 }
 .price{
  width: 220px;
 }
 .blocks{
 width: 22rem;
  
 
 margin-top: 1rem;
 gap: 4px;
  .add-sub{
   height: 2rem;
   width: 5rem;
   font-size: 0.8rem;
   margin-bottom: 3px;
  }
  .shopping-bag{
    font-size: 0.9rem;
    top: -0.1rem;
  }
  .cart{
    width: 8rem;
    height: 2rem;
    font-size: 0.75rem;
    
    
  }
  .buy{
    width:8rem;
    height: 2rem;
    font-size: 0.75rem;
    
  }
 }


 
 .Mrp{
  font-size: 0.6rem;
  bottom: 13rem;
 }
 .price{
  bottom:1.8rem
 }
 .size{
  margin-top: -2rem;
 }
.size-label
{
  font-size: 0.8rem;
}
.num{
  height: 1.7rem;
  width: 1.7rem;
  font-size: 0.8rem;
}

.limited-text{
  width: 1.6rem;
  font-size: 0.45rem;
  height: 0.7rem;
  left: 0.8rem;
  top: 1.2rem;
}
.size-num{
  gap: 1px;
}
 .content{
  left: 51%;
  top: 2%;
 }
 .info-container{
  width: 15rem;
  margin-top: 1.5rem;
 
 }
 .info-item{
  font-size: 0.8rem;
 }
 .slider-container{
  width: 2.3rem;
 
  height: 20rem;
  margin-left: 5%;
 position: absolute;
 top: 5%;
  
 
  
  }
  .stacked-images{
    width: 2%;
    object-fit: contain;
  }
      .primary-image-container{
       width: 550px;
      left: -1.2rem;
      height: 35rem;
      
   
      
      
       object-fit: contain;
        .primary-image{
         
          width: 50%;
           height: 75%;
           
         
          
        }
       
      }
    }
    .custom-prev-arrow{
    right: 2%;
    top: 94%;
    
  
  .custom-arrow-prev{
    font-size: 15px;
  }
    
     
    
  }
  .custom-next-arrow{
  left: 30%;
  top: 1%;
 
  font-size: 1px;
  .custom-arrow-next{
    font-size: 15px;
  }
     
     
    
  }

  /* CSS rules for screens between 425px and 767px wide */
}

/* Laptop - 1024px to 1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
  // html, body {
  //     overflow-x: hidden;
  //   }
 .main-container{
 
  .secondary-container{
    .slider-container{
      height: 2%;
      width: 5%;
      margin-left: 5%;

     
      
      }
    }
    .primary-image-container{
      right: 35%;
      height: 35rem;
     
    }
    .content{
      width: 50%;
     width: auto;
     top: 3rem;
    }
    .product-name{
      font-size: 1.9rem;
    }
    .information{
      font-size: 0.7rem;
      top: 0.8rem;

    }
    .header{
      font-size: 0.9rem;
      margin-top: 1rem;
    }
    .color{
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
    }
    .rupees{
      font-size: 1.4rem;

    }
    .size-label{
      font-size: 0.9rem;
    }
    .num{
      width: 2.5rem;
      height: 2.5rem;
    }
    .limited-text{
      width: 2.1rem;
      left: 1.3rem;
      top: 1.9rem;
    }
    .blocks{
      width: 28rem;
      .add-sub{
        height: 3rem;
      }
      .cart{
        height: 2.7rem;
        width: 8rem;
        font-size: 0.7rem;
      }
      .buy{
        height: 2.7rem;
        width: 8rem;
        font-size: 0.7rem;
      }

      
    }
    .info-item{
      font-size:0.9rem

     
    }
    .Mrp{
      font-size: 0.7rem;
      bottom: 18rem;
    }
  }
 

  /* CSS rules for screens between 1024px and 1439px wide */
}
.review-container{
.rating-container{
  .star-inner{
    width: 1rem;
    height: 1rem;
  }
}
}

/* Laptop L - 1440px and wider */
@media (min-width: 1440px) {
  
  .main-container{
  .content{
 
    left: 50%;

  }
}
  /* CSS rules for screens 1440px wide and wider */
}

