.view-order {
    .main__header {
      font-size: 1.2rem;
      font-weight: 600;
      color: #3b3b3b;
    }

    .sub__header {
      font-size: 0.8rem;
      margin-bottom: 20px;
      color: #858585;
      font-weight: 600;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      border: 1px solid #ddd; 
      margin-bottom: 50px;
  
      th {
        border-bottom: 1px solid #ddd;
        padding: 8px;
        color: #a8a8a8;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
      }
  
      td {
        border: none;
        padding: 8px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
  
        .status {
            font-size: 14px;
          &.pending {
            background-color: #fff3cd;
            color: #856404;
          }
  
          &.completed {
            background-color: #d4edda; 
            color: #155724; 
          }
  
          &.canceled {
            background-color: #f8d7da; 
            color: #f8011a; 
          }
  
          &.progress {
            background-color: #cce5ff; 
            color: #004085; 
          }
        }
      }
    }
  }
  