.add-payment {
  .header {
    font-size: 0.8rem;
    font-weight: 600;
    color: #3b3b3b;
  }

  .payment-mode-section {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 500px; // Default width, will be adjusted in media query
    position: relative;
  }

  .payment-mode {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding: 12px 0px;

    &:last-child {
      border-bottom: none;
    }

    label {
      font-size: 0.9rem;
      font-weight: 600;
    }

    input[type="radio"] {
      transform: scale(1.2);
    }

    .btn-dropdown {
      border: none;
      background-color: #fff;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  .card-details,
  .upi-details {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-group label {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    padding: 8px;
  }

  .btn-add-card {
    margin-top: 10px;
    width: 50%;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #3b3b3b;
    cursor: pointer;
  }

  .upi-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .btn-verify {
    margin-top: 20px;
    width: auto;
    border: none;
    padding: 8px;
    color: #fff;
    background-color: #3b3b3b;
  }

  .btn-continue {
    padding: 10px 25px;
    background-color: #3b3b3b;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  .netbanking-section {
    transition: max-height 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    max-height: 0;
    padding: 0;

    &.expanded {
      max-height: 300px;
      padding: 10px;
    }

    .netbanking-dropdown {
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
      position: relative;
      z-index: 10;
      max-height: 200px;
      overflow-y: auto;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          padding: 10px;
          border-bottom: 1px solid #eee;
          cursor: pointer;
          font-size: 12px;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }

  .added-cards {
    margin-bottom: 20px;

    .header {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .cards-list {
      display: flex;
      flex-wrap: wrap; 
      gap: 20px; 

      .card-item {
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background-color: #fff;
        font-size: 0.9rem;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        width: 300px;
        gap: 10px;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          transform: translateY(-2px);
        }

        p {
          margin: 0;
          color: #3b3b3b;
        }

        .actionbuttons {
          display: flex;
          justify-content: space-between;
          button {
            background-color: #3b3b3b;
            color: white;
            border: none;
            padding: 8px 15px;
            cursor: pointer;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .add-payment {
    .payment-mode-section {
      width: 100%; 
      padding: 10px; 
      margin: 0; 
    }

    .input-group input {
      width: 100%; 
    }

    .btn-add-card,
    .btn-verify,
    .btn-continue {
      box-sizing: border-box; 
    }

    .netbanking-section {
      &.expanded {
        max-height: 300px;
        padding: 10px;
      }
    }

    .added-cards {
      .cards-list {
        flex-direction: column;
        gap: 10px; 
      }

      .card-item {
        width: 100%; 
      }
    }
  }
}
