.topbar {
    background-color: #f5f5f5;

    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

        &_section {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_left {
                display: flex;
                justify-content: center;
                align-items: center;

                .email {
                    display: flex;
                    align-items: center;
                    border-left: 1.5px solid #666666;

                    a {
                        text-decoration: none;
                        color: #666666;
                    }

                    i {
                        margin-left: 10px;
                    }
                }

                p {
                    display: flex;
                    align-items: center;
                    color: #666666;
                    position: relative;
                    margin: 3px 0;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    padding-right: 10px;
                }

                i {
                    margin-right: 10px;
                }
            }

            &_right {
                display: flex;
                align-items: center;
                gap: 15px;

                i {
                    color: #666666;
                    margin: 0 0.5em;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (max-width: 660px) {
    .topbar {
        &_container {
            &_section {
                justify-content: center;

                &_left {
                    justify-content: end;

                    p {
                        font-size: 10px;
                        width: 50%;
                    }

                    .email {
                        border-left: none;
                    }
                }

                &_right {
                    display: none;
                }
            }
        }
    }
}