.average__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .__sub__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    .label {
        font-size: 13px;
        color: #919191;
    }
    .value {
        font-size: 18px;
        font-weight: 500;
        color: #3b3b3b;
    }
  }
}
